@if(flashMessages.has('success'))
  <div class="bg-green-400 text-white rounded-md absolute bottom-0 right-0">
    {{ flashMessages.get('success') }}
  </div>
@endif

@if(flashMessages.has('error'))
  <div class="bg-red-400 text-white rounded-md">
    {{ flashMessages.get('error') }}
  </div>
@endif

